<div class="container-fluid">  
<br>
<h1>My New Friend</h1>
    <input class="form-control" id="inputdefault" type="text" placeholder="First Name" [(ngModel)]="first_name" />
    <input class="form-control" id="inputdefault" type="text" placeholder="Last Name" [(ngModel)]="last_name" />
    <input class="form-control" id="inputdefault" type="text" placeholder="Email" [(ngModel)]="email" />
    <input class="form-control" id="inputdefault" type="text" placeholder="Digits" [(ngModel)]="phone" />
    <input class="form-control" id="inputdefault" type="text" placeholder="IG" [(ngModel)]="instagram" />
    <button class="form-control" class="btn btn-dark" type="button" (click)="handleSubmit()">{{buttonLabel}}</button>
</div>
